<section class="settings__section">
  <header>
    <h2 class="divider">People on this account</h2>
  </header>

  <%= tag.div class: "settings__user-filter flex flex-column gap", data: {
    controller: "filter navigable-list",
    action: "keydown->navigable-list#navigate filter:changed->navigable-list#reset",
    navigable_list_focus_on_selection_value: true,
    navigable_list_actionable_items_value: true
  } do %>

    <div class="settings__user-filter">
      <input placeholder="Filter…" class="input input--transparent full-width txt-small" type="search" autocorrect="off" autocomplete="off" data-1p-ignore="true" data-filter-target="input" data-action="input->filter#filter">

      <ul class="settings__scrollable-list margin-block-half" data-filter-target="list" role="listbox">
        <% users.each do |user| %>
          <%= render "account/settings/#{user.bot? ? 'bot_user' : 'user'}", user.bot? ? { bot_user: user } : { user: user } %>
        <% end %>
      </ul>
    </div>

    <div class="flex justify-center gap">
      <%= link_to account_join_code_path, class: "btn btn--link" do %>
        <%= icon_tag "add" %>
        <span>Invite people</span>
      <% end %>

      <% if Current.user.admin? %>
        <%= link_to new_account_bot_path, class: "btn btn--link" do %>
          <%= icon_tag "add" %>
          <span>Create bot</span>
        <% end %>
      <% end %>
    </div>
  <% end %>
</section>
