<%= form_with url: bucket_bubble_boosts_path(bubble.bucket, bubble), class: "card__meta-item flex align-center gap" do %>
  <span class="overflow-ellipsis">
    <strong><%= text_field_tag :boost_count, bubble.boosts_count, min: 1, class: "boost__input input", autocomplete: "off" %></strong>
    <%= bubble.boosts_count == 1 ? "boost" : "boosts" %>
  </span>
  <%= tag.button class: "btn", type: :submit, style: "font-size: 0.5em" do %>
    <%= icon_tag "add" %>
    <span class="for-screen-reader">Boost</span>
  <% end %>
<% end %>
