<% @page_title = "Notifications settings" %>

<% content_for :header do %>
  <nav class="header">
    <div class="header__actions header__actions--start">
      <%= link_to_back fallback_path: notifications_path %>
    </div>

    <h1 class="header__title"><%= @page_title %></h1>

    <div class="header__actions header__actions--end"></div>
  </nav>
<% end %>

<section class="settings">
  <div class="settings__panel settings__panel--users panel shadow center flex flex-column gap-half">
    <h2 class="txt-medium txt-uppercase divider">Collections</h2>
    <%= render partial: "notifications/settings/collection", collection: @collections, locals: { user: Current.user } %>
  </div>

  <div class="settings__panel panel shadow center">
    <%= render "notifications/settings/push_notifications" %>
    <%= render "notifications/settings/email", settings: @settings %>
  </div>
</section>
