<% @page_title = "Notifications settings" %>

<% content_for :header do %>
  <nav class="align-start">
    <%= link_to notifications_path, class: "btn flex-item-justify-start", data: { controller: "hotkey", action: "keydown.esc@document->hotkey#click" } do %>
      <%= image_tag "arrow-left.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Go back</span>
    <% end %>

    <header class="flex flex-column center margin-block-end">
      <div class="flex align-center gap-half justify-center">
        <%= link_to "Collections", root_path %>
        <%= link_to "Activity", events_path %>
      </div>
      <h1 class="txt-x-large"><%= @page_title %></h1>
    </header>

    <div class="btn btn--placeholder flex-item-justify-end"></div>
  </nav>
<% end %>

<section class="panel center flex flex-column gap-half margin-block">
  <%= render partial: "notifications/settings/bucket", collection: @buckets, user: Current.user %>
</section>
