<% @page_title = "Sign up for Fizzy" %>

<div class="panel panel--centered flex flex-column gap-half <%= "shake" if flash[:alert] %>">
  <h1 class="txt-xx-large margin-block-end-double">Sign up</h1>

  <%= form_with model: @signup, url: signup_path, scope: "signup", class: "flex flex-column gap", data: { turbo: false, controller: "form" } do |form| %>
    <%= form.email_field :email_address, class: "input", autocomplete: "username", placeholder: "Email address", required: true %>

    <% if @signup.errors.any? %>
      <div class="margin-block-half">
        <ul class="margin-block-none txt-negative txt-small">
          <% @signup.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <button type="submit" class="btn btn--link center" data-form-target="submit">
      <span>Continue</span>
      <%= icon_tag "arrow-right" %>
    </button>
  <% end %>
</div>

<% content_for :footer do %>
  <%= render "sessions/footer" %>
<% end %>
