<div class="flex flex-column gap-half align-center" data-controller="dialog filter-form" data-action="keydown.esc->dialog#close click@document->dialog#closeOnClickOutside turbo:before-cache@document->dialog#close">
  <h1 class="txt-large flex align-center gap-half">
    <%= filter.buckets.first&.name || "All projects" %>
  </h1>

  <div class="filters flex-inline align-center gap-half">
    <button class="btn btn--plain txt-small" data-action="click->dialog#toggle">
      <%= image_tag "filter.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Filter</span>
    </button>

    <%= form_with url: bubbles_path, method: :get, class: "flex-inline center align-center gap-half", data: { controller: "form" } do %>
      <%= filter_chips filter, terms %>
    <% end %>
  </div>

  <dialog class="panel fill-white shadow" style="--panel-padding: var(--block-space); --panel-size: 90ch;" data-dialog-target="dialog">
    <div class="flex flex-column gap-half">
      <div class="flex align-center gap-half justify-space-between">
        <span class="btn btn--placeholder txt-small" aria-hidden="true"></span>

        <h2 class="txt-large flex gap-half margin-none">
          <%= filter.buckets.first&.name || "All projects" %>
        </h2>

        <form method="dialog">
          <button class="btn panel__close txt-small" title="Close (esc)">
            <%= image_tag "remove.svg", aria: { hidden: true }, size: 24 %>
            <span class="for-screen-reader">Close</span>
          </button>
        </form>
      </div>

      <div class="flex-inline center align-center gap-half margin-block-half">
        <button class="btn btn--plain txt-small" data-action="click->dialog#toggle">
          <%= image_tag "filter.svg", aria: { hidden: true }, size: 24 %>
          <span class="for-screen-reader">Filter</span>
        </button>

        <%= form_with url: bubbles_path, id: :filter_form, method: :get, class: "flex-inline center align-center gap-half" do %>
          <%= filter_chips filter, terms, class: "fill-selected" %>
        <% end %>
      </div>

      <%= form_with url: filter_chips_path, method: :post, class: "flex gap flex-item-grow align-center justify-center full-width center margin-block" do %>
        <%= hidden_field_tag :name, "terms[]" %>
        <input name="value" type="text" class="input full-width" placeholder="Type to match words…" autocomplete="off" />

        <button class="btn txt-small" type="submit">
          <span class="for-screen-reader">Submit text filter</span>
          <%= image_tag "add.svg", aria: { hidden: true }, size: 24 %>
        </button>
      <% end %>

      <div class="flex flex-column gap full-width" style="--border-color: var(--color-subtle)">
        <div class="flex gap">
          <div class="flex gap flex-item-grow">
            <menu class="filter__menu list-style-none unpad margin-none">
              <li><strong class="filter__label">Sort by</strong></li>
              <% Filter::INDEXES.each do |index| %>
                <li><%= button_to_filter index.humanize, kind: :indexed_by, object: index, data: { action: "filter-form#clearCategory", filter_form_name_param: "indexed_by" } %></li>
              <% end %>
            </menu>
          </div>

          <hr class="separator" />
          <div class="flex gap flex-item-grow">
            <menu class="filter__menu list-style-none unpad margin-none">
              <li><strong class="filter__label">In Project</strong></li>
              <li><%= button_to_filter "All projects", kind: :buckets, object: nil, data: { action: "filter-form#clearCategory", filter_form_name_param: "bucket_ids[]" } %></li>
              <% Current.user.buckets.order(:name).each do |bucket| %>
                <li><%= button_to_filter bucket.name, kind: :buckets, object: bucket %></li>
              <% end %>
            </menu>
          </div>

          <hr class="separator" />
          <div class="flex gap flex-item-grow">
            <menu class="filter__menu list-style-none unpad margin-none">
              <li><strong class="filter__label">Tagged</strong></li>
              <% Current.account.tags.order(:title).each do |tag| %>
                <li><%= button_to_filter tag.title, kind: :tags, object: tag %></li>
              <% end %>
            </menu>
          </div>

          <hr class="separator" />
          <div class="flex gap flex-item-grow">
            <menu class="filter__menu list-style-none unpad margin-none">
              <li><strong class="filter__label">Assigned to…</strong></li>
              <li><%= button_to_filter "No one", kind: :assignments, object: "unassigned", data: { action: "filter-form#clearCategory", filter_form_name_param: "assignee_ids[]" } %></li>
              <li><%= button_to_filter "Me", kind: :assignees, object: Current.user, data: { action: "filter-form#clearCategory", filter_form_name_param: "assignments" } %></li>
              <% Current.account.users.active.without(Current.user).order(:name).each do |user| %>
                <li><%= button_to_filter user.name, kind: :assignees, object: user, data: { action: "filter-form#clearCategory", filter_form_name_param: "assignments" } %></li>
              <% end %>
            </menu>
          </div>

          <hr class="separator" />
          <div class="flex gap flex-item-grow">
            <menu class="filter__menu list-style-none unpad margin-none">
              <li><strong class="filter__label">Assigned by…</strong></li>
              <li><%= button_to_filter "Me", kind: :assigners, object: Current.user %></li>
              <% Current.account.users.active.without(Current.user).order(:name).each do |user| %>
                <li><%= button_to_filter user.name, kind: :assigners, object: user %></li>
              <% end %>
            </menu>
          </div>
        </div>
      </div>

      <div class="flex align-center txt-align-center justify-space-between gap-half margin-block-start">
        <%= tag.button class: "btn", form: :filter_form, formaction: filters_path, formmethod: :post do %>
          <%= image_tag "bubbles.svg", aria: { hidden: true }, size: 24 %>
          <span>Save to home</span>
        <% end %>

        <button class="btn btn--reversed" form="filter_form">
          <span>Apply</span>
          <%= image_tag "arrow-right.svg", aria: { hidden: true }, size: 24 %>
        </button>
      </div>
    </div>
  </dialog>
</div>
