<div class="card__meta txt-tight-lines txt-uppercase">
  <span class="overflow-ellipsis txt-align-end"><%= bubble.creating? ? "Added" : "Updated" %>
    <%= days = (Date.current - bubble.updated_at.to_date).to_i
        case days
        when 0 then "<strong>Today</strong>".html_safe
        when 1 then "<strong>Yesterday</strong>".html_safe
        else "<strong>#{days}</strong> days ago".html_safe
        end %>
  </span>

  <span class="overflow-ellipsis">
    <strong><%= bubble.comments_count %></strong> <%= bubble.comments_count == 1 ? "comment" : "comments" %>
  </span>

  <span class="overflow-ellipsis">
    <% if bubble.creating? %>
      Expires
      <%= days = (bubble.auto_pop_at.to_date - Date.current).to_i
          case days
          when 0 then "<strong>Today</strong>".html_safe
          else "in <strong>#{days}</strong> days".html_safe
          end %>
    <% else %>
      Added
      <%= days = (Date.current - bubble.created_at.to_date).to_i
          case days
          when 0 then "<strong>Today</strong>".html_safe
          when 1 then "<strong>Yesterday</strong>".html_safe
          else "<strong>#{days}</strong> days ago".html_safe
          end %>
    <% end %>
  </span>

  <span>
    <%= render "bubbles/boosts", bubble: bubble %>
  </span>
</div>
