<section class="mobile-card-columns">
  <%= link_to "#not-now", class: "cards cards--on-deck is-collapsed", style: "--card-color: var(--color-card-complete);", data: { turbo_frame: "_top" } do %>
    <div class="cards__expander btn btn--plain" style="--card-count: <%= board.cards.postponed.count %>">
      <span class="cards__expander-count"><%= board.cards.postponed.count %></span>
      <h2 class="cards__expander-title">
        Not Now
      </h2>
    </div>
  <% end %>

  <%= link_to "#the-stream", class: "cards cards--considering is-collapsed", data: { turbo_frame: "_top" } do %>
    <div class="cards__expander btn btn--plain" style="--card-count: <%= board.cards.awaiting_triage.count %>">
      <span class="cards__expander-count"><%= board.cards.awaiting_triage.count %></span>
      <h2 class="cards__expander-title">
        Maybe?
      </h2>
    </div>
  <% end %>

  <% board.columns.sorted.each do |column| %>
    <%= link_to "##{dom_id(column)}", class: "cards cards--doing is-collapsed", style: "--card-color: #{column.color}", data: { turbo_frame: "_top" } do %>
      <div class="cards__expander btn btn--plain" style="--card-count: <%= column.cards.active.count %>">
        <span class="cards__expander-count"><%= column.cards.active.count %></span>
        <h2 class="cards__expander-title">
          <%= column.name %>
        </h2>
      </div>
    <% end %>
  <% end %>

  <%= link_to "#closed-cards", class: "cards cards--closed is-collapsed", style: "--card-color: var(--color-card-complete);", data: { turbo_frame: "_top" } do %>
    <div class="cards__expander btn btn--plain" style="--card-count: <%= board.cards.closed.count %>">
      <span class="cards__expander-count"><%= board.cards.closed.count %></span>
      <h2 class="cards__expander-title">
        Done
      </h2>
    </div>
  <% end %>
</section>
