<% cache card do %>
  <%= card_article_tag card, class: "card" do %>
    <header class="card__header flex align-center gap min-width">
      <span class="card__collection">
        <span class="card__id txt-reversed"><%= card.id %></span>
        <%= link_to card.collection.name, cards_path(collection_ids: [ card.collection ]),
              class: "card__collection-name txt-uppercase overflow-ellipsis txt-reversed" %>
      </span>
      <%= render "cards/display/preview/tags", card: card %>
    </header>

    <div class="card__body flex gap full-width flex-item-grow justify-space-between">
      <div class="card__content">
        <h1 class="card__title overflow-line-clamp">
          <%= card.title %>
        </h1>

        <%= link_to collection_card_path(card.collection, card), class: "card__link", title: card_title_tag(card), data: { action: "dialog#close", turbo_frame: "_top" } do %>
          <span class="for-screen-reader"><%= card.title %></span>
        <% end %>
      </div>

      <%= render "cards/stagings/stages", card: card if card.doing? %>
    </div>

    <footer class="card__footer">
      <%= render "cards/display/preview/meta", card: card %>
    </footer>

    <%= render "cards/display/common/background", card: card %>

    <% if card.considering? %>
      <%= render "cards/display/preview/bubble", card: card, style: "closing" %>
    <% elsif card.doing? %>
      <%= render "cards/display/preview/bubble", card: card, style: "considering" %>
    <% end %>
  <% end %>
<% end %>
