<% filter = user_filtering.filter %>

<%= tag.div class: "quick-filter position-relative",
      data: {
        controller: "dialog multi-selection-combobox",
        action: "keydown.esc->dialog#close click@document->dialog#closeOnClickOutside",
        filter_show: user_filtering.show_creators?,
        multi_selection_combobox_no_selection_label_value: "Added by…",
        multi_selection_combobox_label_prefix_value: "Added by" } do %>
    <button type="button" class="btn input input--select flex-inline txt-x-small" data-action="click->dialog#toggle:stop">
      <span class="overflow-ellipsis" data-multi-selection-combobox-target="label">
      </span>
    </button>

    <template data-multi-selection-combobox-target="hiddenFieldTemplate">
      <%= hidden_field_tag "creator_ids[]", nil, data: { filter_settings_target: "field" } %>
    </template>

    <%= filter_dialog "Added by…" do %>
      <strong class="popup__title">Added by…</strong>

      <% if user_filtering.users.many? %>
        <%= text_field_tag nil, nil, id: nil, placeholder: "Filter…", class: "input input--transparent txt-small", autofocus: true,
              type: "search", autocorrect: "off", autocomplete: "off", data: { "1p-ignore": "true", filter_target: "input", action: "input->filter#filter" } %>
      <% end %>

      <ul class="popup__list" data-filter-target="list" role="listbox">
        <% user_filtering.users.each do |user| %>
          <%= tag.li class: "popup__item", data: {
                filter_target: "item", navigable_list_target: "item", multi_selection_combobox_target: "item", multi_selection_combobox_value: user.id, multi_selection_combobox_label: user.familiar_name },
                role: "checkbox", aria: { checked: filter.creators.include?(user) } do %>
            <button type="button" class="btn popup__btn" data-action="dialog#close multi-selection-combobox#change filter-settings#change form#submit">
              <span class="overflow-ellipsis flex-item-grow"><%= user.name %></span>
              <%= icon_tag "check", class: "checked flex-item-justify-end" %>
            </button>
          <% end %>
        <% end %>
      </ul>
    <% end %>
<% end %>
