<% if filter.assignees.any? %>
  <div class="quick-filter position-relative" data-controller="dialog" data-action="keydown.esc->dialog#close click@document->dialog#closeOnClickOutside">
    <button class="btn input input--select flex-inline txt-x-small" data-action="click->dialog#open:stop">
      <span class="overflow-ellipsis">
        <% if filter.assignment_status.unassigned? %>
          No one
        <% elsif filter.assignees.any? %>
          Assigned to <%= filter.assignees.map(&:familiar_name).to_sentence %>
        <% else %>
          Assigned to…
        <% end %>
      </span>
    </button>

    <dialog class="events__popup popup panel flex-column align-start gap-half fill-white shadow" data-dialog-target="dialog" data-action="turbo:before-cache@document->dialog#close">
      <strong class="popup__title margin-block-start-half pad-inline-half overflow-ellipsis">Assigned to…</strong>
      <%= form_with url: cards_path, method: :get, class: "popup__list",
            data: { controller: "form" } do |form| %>
        <% filter.as_params.except(:assignee_ids, :assignment_status).each do |key, value| %>
          <%= filter_hidden_field_tag key, value %>
        <% end %>

        <%= link_to cards_path(filter.as_params.except(:assignee_ids, :assignment_status)), class: "btn popup__item" do %>
          <span class="overflow-ellipsis">Clear all</span>
        <% end %>

        <div class="btn popup__item">
          <%= form.check_box "assignment_status", {
            checked: filter.assignment_status.unassigned?,
            data: { action: "change->form#submit" },
            include_hidden: false,
          }, "unassigned" %>

          <%= form.label :assignment_status, "No one", class: "overflow-ellipsis" %>
          <%= icon_tag "check", class: "checked flex-item-justify-end" %>
        </div>

        <% User.active.order(:name).each do |user| %>
          <div class="btn popup__item">
            <%= form.check_box "assignee_ids[]", {
              checked: filter.assignees.include?(user),
              data: { action: "change->form#submit" },
              include_hidden: false,
            }, user.id %>

            <%= form.label "assignee_ids[]", user.name, for: dom_id(user, :filter), class: "overflow-ellipsis" %>
            <%= icon_tag "check", class: "checked flex-item-justify-end" %>
          </div>
        <% end %>
      <% end %>
    </dialog>
  </div>
<% end %>
