<% if filter.creators.any? %>
  <div class="quick-filter position-relative" data-controller="dialog"
        data-action="keydown.esc->dialog#close click@document->dialog#closeOnClickOutside">
    <button class="btn input input--select flex-inline txt-x-small" data-action="click->dialog#open:stop">
      <span class="overflow-ellipsis">
        <% if filter.creators.any? %>
          <%= "Added by #{filter.creators.map(&:familiar_name).to_sentence}" %>
        <% else %>
          Added by…
        <% end %>
      </span>
    </button>

    <dialog class="events__popup popup panel flex-column align-start gap-half fill-white shadow"
        aria-label="Added by…" aria-description="Added by…"
        data-dialog-target="dialog" data-action="turbo:before-cache@document->dialog#close">
      <strong class="popup__title margin-block-start-half pad-inline-half">Added by…</strong>
      <%= form_with url: cards_path, method: :get, class: "popup__list",
            data: { controller: "form" } do |form| %>
        <% filter.as_params.except(:creator_ids).each do |key, value| %>
          <%= filter_hidden_field_tag key, value %>
        <% end %>

        <%= link_to cards_path(filter.as_params.except(:creator_ids)), class: "btn popup__item" do %>
          <span class="overflow-ellipsis">Clear all</span>
        <% end %>

        <div class="btn popup__item">
          <%= form.check_box :creator_ids, {
            multiple: true,
            checked: filter.creators.include?(Current.user),
            data: { action: "change->form#submit" },
            include_hidden: false,
          }, Current.user.id %>

          <%= form.label :creator_ids, "Me", for: form.field_id(:creator_ids, Current.user.id), class: "overflow-ellipsis" %>
          <%= icon_tag "check", class: "checked flex-item-justify-end" %>
        </div>

        <% User.active.without(Current.user).order(:name).each do |user| %>
          <div class="btn popup__item">
            <%= form.check_box :creator_ids, {
              multiple: true,
              checked: filter.creators.include?(user),
              data: { action: "change->form#submit" },
              include_hidden: false,
            }, user.id %>

            <%= form.label :creator_ids, user.name, for: form.field_id(:creator_ids, user.id), class: "overflow-ellipsis" %>
            <%= icon_tag "check", class: "checked flex-item-justify-end" %>
          </div>
        <% end %>
      <% end %>
    </dialog>
  </div>
<% end %>
